.page-main__information {
    padding: 0 20px;
}

.page-main__gallery {
    padding: 0 20px;
}

.page-main-gallery__title {
    padding: 0;
    margin: 0;
    padding-top: 60px;
    font-family: $font_add;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 16px;
}

.page-main-gallery__item {
    padding-bottom: 16px;
}