@font-face {
  font-family: "PT-Sans";
  src: url("/source/fonts/PTSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans-Narrow";
  src: url("/source/fonts/PTSansNarrow-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
