$basic_white: #ffffff;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;


$font_general: "PT-Sans", "Arial", sans-serif;
$font_add:  "PT-Sans-Narrow", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 375px;
