$basic_blue: #0078BB;
$basic_lightblue: #62B9EA; 
$basic_dakrblue: #0A6EA6;
$basic_white: #FFFFFF;
$basic_grey: #808080;
$basic_black: #000;


$font_general: 'PT Sans';
$font_add:  'PT Sans Narrow';

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 375px;
